@tailwind base;
@tailwind components;
@tailwind utilities;


p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}
.font-futura {
  font-family: Futura;
}
.bg-screen-shot-20201115at-115536am {
  background-image: url(/assets/screen-shot-20201115at-115536am.png);
}
.bg-t-bg-oval-oval {
  background-image: url("/assets/Oval.svg");
}

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}
